.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 200px;
    background-color: #f0edeb;
    cursor: pointer;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 5px 0;
  }

  .product-card a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the inherited color */
  }
  
  .product-card button {
    background-color: #a86bce;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #218838;
  }
  